@model OnlineStore.Entities.Feedback

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

@*<h2>Details</h2>*@

<div>
    <h4>Details of Feedback</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
