@model IEnumerable<OnlineStore.Entities.Feedback>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<h2>Feedbacks</h2>

@if (Session["role"].ToString() != "Admin")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Feedback ID</th>
                <th>Book Title</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var feedback in Model)
            {
                if (feedback.CustomerId == (int)Session["username"])
                {
                    <tr>
                        <td>@feedback.Id</td>
                        <td>@feedback.Book.Title</td>
                        <td>@feedback.Comments</td>
                    </tr>
                }
            }
        </tbody>
    </table>

}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}